---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Noah";
---

<Layout pageTitle={pageTitle}>
  <div class="gif">
    <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp" />
  </div>
  <h1>Noah Victoriano</h1>
  <span class="badge">Digital Pirate (Developer/Creator))</span>
  <h2>About</h2>
  <p>
    I'm a development studies student but an aspiring software engineer. due to
    certaion circumstances I cannot partake on the college course that will lead
    to the path of being a software developer but nonetheless I'll polish my
    skills I can be equal with my peers.
  </p>
  <div class="center">
    <a href="/works/">
      <button class="btn">My portfolio</button>
    </a>
  </div>
  <h2>Skills</h2>

  <div class="skills center">
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="C"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Cpp"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Python"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="TypeScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Go"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Python"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Bootstrap"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="CSS"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="HTML"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="JavaScript"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
    />
    <img
      class="skills__img"
      width="46"
      height="46"
      alt="Git"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
    />
  </div>
  <h2>Interests</h2>
  <p>
    I really enjoy creating apps for the terminal that help other programmers or
    tools to make tasks easier. I also love working with servers and spend a lot
    of time using Linux because I wanted to learn how servers work from the
    ground up when I started programming.
  </p>
</Layout>
